{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">

    <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">

</nav>
        <br><br>
    <a style="margin-left: 20px" class="btn btn-primary" href="/" role="button"> search again </a>
    <br>
    <hr>
    <br>
    <ul></ul>
    <script>
    let input = document.querySelector('input');
    input.onkeyup = function () {
        $.get('/search?q=' + input.value, function (data) {
            document.querySelector('ul').innerHTML = data;
            
        });
    };
    </script>
{% endblock %}